<template>
    <Page>
        <ActionBar>
            <Label text="Home"/>
        </ActionBar>
            <Label text="item.text" />
        <StackLayout class="container">
            <FlexboxLayout class="mounth" > 
                <Label :text='nowYear'>
                </Label>
            </FlexboxLayout>
            <FlexboxLayout class="mounth" > 
                <Button text='<' class="button" @tap="prevMonth"/>  
                <Label :text='monthName[nowMonth]'>
                </Label>
                <Button text='>' class="button" @tap="nextMounth"/> 
            </FlexboxLayout>
            <FlexboxLayout class="days" > 
                <Label class="week_ToDays" v-for="day in weekdays" :text='day' :key='day'>
                </Label>
            </FlexboxLayout>
            <FlexboxLayout class="Mdays">  
                <Label v-for="(day, index) in days"
                    :key="index"
                    :text="day"
                    :style="{
                    'background-color': checkCurrentDay(day)
                    }"
                    class="calendar-days"
                    height="44"
                    >
                </Label>
            </FlexboxLayout>
            <Button text='Текущая дата' class="tilt" @tap="tekDate"/>  
        </StackLayout>
    </Page>
</template>

<script>
  export default {
  data(){
    return {
    nowDate: new Date(),
    nowDateNumber : new Date().getDate(),
    currentDate: new Date(),
    nowMonth : new Date().getMonth(),
    nowYear : new Date().getFullYear(),
    monthName : ['Январь','Февраль','Март','Апрель','Май','Июнь','Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'],
    weekdays : ['Пн','Вт','Ср','Чт','Пт','Сб','Вс'],
    monthDays1:[],
    days: [],
    curDate: new Date(),
    beforeDaysInCurrentMont: new Date(),
    beforeMontDays: new Date()
    
    };
  },
    computed: {
        currentDay() {
        return {
          day: this.currentDate.getDate(),
          month: this.currentDate.getMonth()
        }
      },
        monthDays() {
        return new Date(this.nowYear, this.nowMonth + 1, 0).getDate()
      }
    },
    created(){
        this.calcDays();
    },
    methods: {
      calcDays() {
        this.days = []
        for (let i = 1; i <= this.monthDays; i++) {
          this.days.push(i)
        }
        this.beforeDaysInCurrentMont =  new Date(this.nowYear, this.nowMonth, 0).getDay()
        this.beforeMontDays =  new Date(this.nowYear, this.nowMonth, 0).getDate()
        for (let i = this.beforeDaysInCurrentMont; i >= 1; i--) {
          this.days.unshift(this.beforeMontDays)
          this.beforeMontDays--
        }
        
      },
        prevMonth() {
            if(this.nowMonth == 0){
                this.nowYear = this.nowYear - 1;
                this.nowMonth = 11;
            }
            else {
             this.nowMonth = this.nowMonth - 1;
            }
            this.currentDate.setMonth(this.currentDate.getMonth() -1)
            this.calcDays()
            
      },
        nextMounth(){
            if(this.nowMonth == 11){
                this.nowYear = this.nowYear + 1;
                this.nowMonth = 0;
            }
            else {
             this.nowMonth = this.nowMonth + 1;
            }
            this.currentDate.setMonth(this.currentDate.getMonth() + 1)
            this.calcDays()
        },
        checkCurrentDay(index) {
            let date_now = new Date().getFullYear();
            if(this.nowYear == date_now){
            return index  === this.currentDay.day && this.nowMonth === this.currentDay.month 
            ? 'pink' 
            : 'wheat'
            }
        },
        tekDate(){
            this.nowYear = new Date().getFullYear();
            this.nowMonth = new Date().getMonth();
            this.calcDays()
        }
    },
}
</script>

<style scoped lang="scss">
    @import '@nativescript/theme/scss/variables/blue';

    // Custom styles
    .fas {
        @include colorize($color: accent);
    }

    .info {
        font-size: 20;
        horizontal-align: center;
        vertical-align: center;
    }
    .mounth{
        width: 100%;
        height: 100px;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container{
        width: 100%;
        height: 100%;
    }
    .button{
        width: 100px;
        height: 100%;
        background-color: pink ;
    }
    .Mdays{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        background-color:wheat ;
        justify-content: flex-start;
    }
    .days{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-top: 10px ;
        width: 100%;
        margin-bottom: 20px;
        
    }
    .calendar-days{
        width: 14.28%;
        padding-left: 50px;
        padding-top: 30px;
    }
    .week_ToDays{
        width: 14.2%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 50px;
    }
    .tilt{
        height: 150px;
        width: 200px;
        background-color: bisque;
    }
</style>
